<!DOCTYPE html>

{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Menu</title>
</head>
<body>
    <h1>Add Menu</h1>
    {% block content %}
    <form method="post" enctype="multipart/form-data" action="{% url 'update_menu' menu.id %}">
        {% csrf_token %}
        <div> {{ form.menu_name|as_crispy_field }}</div>
        <div> {{ form.is_daily_menu|as_crispy_field }}</div>
        <div>{{ form.description|as_crispy_field }}</div>
        <div>{{ form.normal_price|as_crispy_field }}</div>
        <div>{{ form.special_price|as_crispy_field }}</div>
        <div>{{ form.menu_type|as_crispy_field }}</div>
        <div>{{ form.menu_image|as_crispy_field }}</div>
        <button type="submit" class="btn btn-danger">Update</button>
    </form>
    {% endblock %}
</body>
</html>